@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body, * {
    box-sizing: border-box;
}

body {
    background-color: #282b30;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;

    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

a {
    color: black;
    text-decoration: none;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

span {
    font-size: 12px;
}

.wrapper {
    display: flex;
    justify-content: space-between;    
}

.navbar {
    width: 200px;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background: linear-gradient(180deg, rgba(15,32,97,1) 0%, rgba(35,21,85,1) 59%, rgba(53,9,74,1) 90%);
}

.navbar .title {
    margin: 0;
    background-color: #05163d;
    width: 100%;
    padding: 15px 10px;
}

.navbar .items {
    padding-inline: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar .item {
    display: flex;
    align-items: center;
    gap: 5px;
    
    background-color: transparent;
    color: white;

    padding: 7px 15px;
    border-radius: 5px;
    width: 100%;
}

.navbar .item.select {
    background: #6b7099;
}

.content-wrapper {
    width: 100%;
    padding-inline: 25px;
    padding-right: 10px;
}

.content-wrapper .names {
    width: 100%;

    padding-left: .5rem;

    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.content-wrapper .names .info {
    width: 48%;

    display: flex;
    justify-content: space-between;
}

.content-wrapper .item-wrapper {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: .5rem;
    border-bottom: 1px solid white;
}

.content-wrapper .item {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-wrapper .item .info {
    width: 60%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-wrapper .item .download button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #212529;
    color: white;
    transition-duration: .25s;
}

.content-wrapper .item .download button:hover {
    background-color: #006bb7;
}